<%= form_for @training, :url => url_for(:action => "update_training_schedule"), :as => "training" do |f|%>
<div id="scheduleModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
		<h3 id="myModalLabel">Jadwal Training</h3>
	</div>
	
	<div class="modal-body">

		<div class="row-fluid price-section schedule-section" data-training-location= <%= @training.training_location.id %> >
			<div class="span12">						
				<div class="control-group">
					<label class="span3">Jadwal:</label>
					
						<div class="control span9">
							<input name="training_date" class="date-picker" type="text">
							<span class="help-inline"></span>
						</div>						
					
				</div>
			</div>
		</div>
	</div>

	<div class="modal-footer">
		<button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
		<button class="btn btn-primary">Pilih Jadwal</button>
	</div>			
</div>

<% end %>