
<!-- Start About -->
<div class="row-fluid section" id="blog">
	<div class="container"> 

		<div class="explain">

			<h2>ABOUT</h2>

			<!-- Start Team Members -->

			<div class="row-fluid">

				<div class="span12 blog_entry">

					<% @blogs.each do |blog| %>
						<h2><%= blog.title %></h2>
						<div class="article-body">					
							<%= truncate_html blog.body, :length => 1000 %>		
						</div>
						<%= link_to "Read More", { :action => "show" , :id => blog.id} , :class => "m-btn blue" %>
					<% end %>														
					<div class="pagination">
						<ul>
							<li><a href="#">Prev</a></li>
							<li><a href="#">1</a></li>
							<li><a href="#">2</a></li>
							<li><a href="#">3</a></li>
							<li><a href="#">4</a></li>
							<li><a href="#">Next</a></li>
						</ul>
					</div>
				</div> 
				</div>
			</div>
		</div>

		<!-- FOOTER -->
		<div class="row-fluid">

			<div class="container footer">

				<!-- Copyright and contact -->

				<div class="span4 address">

					©2012 Metro Business Template by <a href="http://www.littlesparkvt.com">LittleSparkVT</a>
					<br>555 Silverado Trail
					<br>Burlington Vermont 05477

				</div>

				<!-- newsletter form -->

				<div class="span5 pull-right footer-newsletter">
					<h2>Newsletter</h2>
					<p>Subscribe to our newsletter and get the latest news!</p>
					<form action="mail.php" id="subscribe-form" method="post">
						<input type="text" name="email" id="email" placeholder="Your Email Address" class="input-text m-wrap m-ctrl">
						<button type="submit" class="m-btn blue">Sign Up</button>
					</form>
				</div>

			</div>
		</div>

