
<div class="row-fluid callout">
  <!-- Start Carousel -->
  <div class="container-fluid">
    <div id="register-form" class="span5">        
      <fieldset>
        <legend>Login</legend>
        <div id="register-form-input" class="span12">
          <%= form_for(@attendee, :url => attendee_session_path) do |f| %>
          <div class="control-group">
            <div class="control">
              <%= f.email_field :email, :placeholder=>"Enter your e-mail address", :class => "span12 field" %>                  
            </div>
          </div>

          <div class="control-group">
            <div class="control">    
              <%= f.password_field :password, :placeholder => "Enter your password", :class => "span12 field" %>              
            </div>
          </div>
          <div class="control-group">
            <div class="controls">
              <label class="checkbox span4 offset7">
                <input type="checkbox"> Remember me
              </label>
              <button type="submit" class="pull-right m-btn blue">Sign in</button>
            </div>
          </div>    
          <% end %>   
        </div>         
      </fieldset>
      <div class="row">
        <span class="span9 offset2">Belum punya account? <a href="http://google.com">Sign up</a> terlebih dahulu</span>
      </div>
      
    </div>


  </div>
</div>

<!-- FOOTER -->
<div class="row-fluid">

  <div class="container footer">

    <!-- Copyright and contact -->

    <div class="span4 address">

      ©2013 <a href="http://www.itoz-labs.com">ItoZLabs </a>

    </div>

    <!-- newsletter form -->

    <div class="span5 pull-right footer-newsletter">
      <h2>Newsletter</h2>
      <p>Subscribe to our newsletter and get the latest news!</p>
      <form action="mail.php" id="subscribe-form" method="post">
        <input type="text" name="email" id="email" placeholder="Your Email Address" class="input-text m-wrap m-ctrl">
        <button type="submit" class="m-btn blue">Sign Up</button>
      </form>
    </div>

  </div>
</div>


