<!-- FOOTER -->
  <div class="row-fluid">

    <div class="container footer">

      <!-- Copyright and contact -->

      <div class="span4 address">

        ©2013 <a href="http://www.itoz-labs.com">ItoZLabs </a>

      </div>

      <!-- newsletter form -->

      <div class="span5 pull-right footer-newsletter">
        <h2>Newsletter</h2>
        <p>Subscribe to our newsletter and get the latest news!</p>
        <form action="#" id="subscribe-form" method="post">
          <input type="text" name="email" id="email" placeholder="Your Email Address" class="input-text m-wrap m-ctrl">
          <button type="submit" class="m-btn blue">Sign Up</button>
        </form>
      </div>
    </div>
  </div>