
<!-- Start About -->
        <div class="row-fluid callout">
          <div class="container"> 

            <div class="explain">

               <h2>ABOUT</h2>

              <!-- Start Team Members -->

              <div class="row-fluid">

              <div class="span12 blog_entry">
                
                
                <h2>Apa itu ATLS?</h2>
                <div class="article-body">
                <p>Advanced Trauma Life Support (ATLS) adalah sebuah program pelatihan bagi dokter medis dalam pengelolaan akut trauma kasus, yang dikembangkan oleh American College of Surgeons . Program serupa ada untuk perawat (ATCN) dan paramedis (PTLS). </p>
                <p>Program ini telah diadopsi di seluruh dunia di lebih dari 40 negara, namun ada juga dibawah nama Emergency Management of Severe Trauma (EMST), khususnya di luar Amerika Utara. Tujuannya adalah untuk mengajarkan pendekatan yang disederhanakan dan standar untuk pasien trauma. Awalnya dirancang untuk situasi darurat di mana hanya satu dokter dan satu perawat yang hadir, ATLS sekarang diterima secara luas sebagai standar perawatan untuk penilaian awal dan pengobatan di pusat-pusat trauma. Premis dari program ATLS adalah memperlakukan ancaman terbesar bagi kehidupan pertama. Hal ini juga pendukung bahwa kurangnya diagnosis definitif dan rinci sejarah seharusnya tidak memperlambat penerapan pengobatan diindikasikan untuk luka yang mengancam hidup, dengan waktu yang paling penting dilakukan intervensi awal. Namun, ada bukti diramu untuk menunjukkan bahwa ATLS meningkatkan hasil pasien.</p>  

              </div>


                <h2>Sejarah ATLS</h2>
                <div class="article-body">
                <p>Pada bulan Februari 1976, sebuah tragedi terjadi yang mengubah jam pertama perawatan trauma bagi pasien cedera di Amerika Serikat dan di banyak bagian dunia. Dr Jim Styner, seorang ahli bedah ortopedi, pesawat kecil jatuh ke dalam sebuah ladang jagung di Nebraska pedesaan. Dr Styner menderita luka serius, tiga anak-anaknya menderita luka kritis, dan satu anak menderita luka ringan. Istrinya tewas seketika. Perawatan yang ia dan keluarganya kemudian diterima tidak memadai oleh standar hari ini. Dokter bedah, mengenali bagaimana perlakuan mereka tidak memadai, menyatakan, "Ketika saya dapat memberikan perawatan yang lebih baik di lapangan dengan sumber daya yang terbatas dari apa yang anak-anak saya dan saya diterima di fasilitas perawatan primer, ada sesuatu yang salah dengan sistem, dan sistem telah harus diubah. " <p>

                <p>Pada bulan Januari 1980, American College of Surgeons memperkenalkan Kursus ATLS di AS dan luar negeri. Kanada bergabung dengan program ATLS tahun berikutnya. Pada tahun 1986, beberapa negara di Amerika Latin bergabung dengan Komite ACS Trauma dan memperkenalkan program ATLS di wilayah mereka. Sekarang, ATLS tersedia di hampir 60 negara. Di bawah naungan Komite Militer ACS Trauma, program telah dilakukan untuk dokter militer AS di Amerika Serikat dan di seluruh dunia.</p>

                <p>Selama lebih dari seperempat abad, American College of Surgeons Komite Trauma telah mengajarkan kursus ATLS untuk lebih dari 1 juta dokter di lebih dari 50 negara. ATLS telah menjadi dasar dari perawatan untuk pasien cedera dengan mengajar bahasa umum dan pendekatan umum. Edisi 8 diciptakan menggunakan pendekatan internasional, multidisiplin, dan berbasis bukti. Hasilnya adalah ATLS yang kontemporer dan bermakna dalam komunitas global.</p>
              </div>
          </div> 
                
          </div>
        </div>
      </div>

       <!-- FOOTER -->
           <div class="row-fluid">

            <div class="container footer">

              <!-- Copyright and contact -->

              <div class="span4 address">

              ©2013 <a href="http://www.itoz-labs.com">ItoZLabs </a>

              </div>

               <!-- newsletter form -->

            <div class="span5 pull-right footer-newsletter">
              <h2>Newsletter</h2>
                <p>Subscribe to our newsletter and get the latest news!</p>
                  <form action="mail.php" id="subscribe-form" method="post">
                    <input type="text" name="email" id="email" placeholder="Your Email Address" class="input-text m-wrap m-ctrl">
                    <button type="submit" class="m-btn blue">Sign Up</button>
                  </form>
            </div>

            </div>
          </div>

