
<!-- Start About -->
<div class="row-fluid section" id="about">
  <div class="container"> 

    <div class="explain">

      <h2>Profil Tim ATLS</h2>
      <p class="intro">Orang-orang yang menjalankan ATLS</p>

      <!-- Start Team Members -->

      <div class="profiles">
        <div class="row">

          <div class="profile clearfix">
            <div class="span6">            
              <img src="/assets/achmad_hidayat.jpg" alt="">            
            </div>

            <div class="span6">
              <h3>Achmad Hidayat - Ketua ATLS</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam cursus nisi ut metus venenatis ut cursus erat faucibus. In ac nisl in odio hendrerit vulputate. Quisque sed enim tortor, sed tincidunt ante. Praesent sodales neque congue tellus accumsan varius. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Fusce ut libero ut est sodales tristique. Sed ut sodales risus. Vivamus est felis, faucibus quis hendrerit quis, aliquet ac libero. Suspendisse potenti. Aliquam erat volutpat. Pellentesque vel arcu in mi semper vulputate. Integer volutpat imperdiet mi, ac gravida sem euismod ac. Nullam pulvinar ante eu turpis accumsan facilisis vitae tempus massa.</p>

            </div>
          </div>

          <div class="profile clearfix">
            <div class="span6">            
              <img src="/assets/achmad_hidayat.jpg" alt="">            
            </div>

            <div class="span6">
              <h3>Achmad Hidayat</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam cursus nisi ut metus venenatis ut cursus erat faucibus. In ac nisl in odio hendrerit vulputate. Quisque sed enim tortor, sed tincidunt ante. Praesent sodales neque congue tellus accumsan varius. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Fusce ut libero ut est sodales tristique. Sed ut sodales risus. Vivamus est felis, faucibus quis hendrerit quis, aliquet ac libero. Suspendisse potenti. Aliquam erat volutpat. Pellentesque vel arcu in mi semper vulputate. Integer volutpat imperdiet mi, ac gravida sem euismod ac. Nullam pulvinar ante eu turpis accumsan facilisis vitae tempus massa.</p>

            </div>
          </div>

          
        </div> 

      </div> 

      <div class="pagination">
        <ul>
          <li><a href="#">Prev</a></li>
          <li><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">Next</a></li>
        </ul>
      </div>     
      
    </div>
  </div>
</div>


<%= render "pages/footer" %>
  
</div>


