
<!-- Start About -->
<div class="row-fluid section" id="about">
  <div class="container"> 

    <div class="explain">

      <h2>Team Member</h2>
      <p class="intro">This is where you'd put a brief explanation of your team member.</p>

      <!-- Start Team Members -->

      <div class="profiles">
        <div class="row">

          <div class="profile clearfix">
            <div class="span6">            
              <img src="/assets/achmad_hidayat.jpg" alt="">            
            </div>

            <div class="span6">
              <h3>Achmad Hidayat - Ketua ATLS</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam cursus nisi ut metus venenatis ut cursus erat faucibus. In ac nisl in odio hendrerit vulputate. Quisque sed enim tortor, sed tincidunt ante. Praesent sodales neque congue tellus accumsan varius. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Fusce ut libero ut est sodales tristique. Sed ut sodales risus. Vivamus est felis, faucibus quis hendrerit quis, aliquet ac libero. Suspendisse potenti. Aliquam erat volutpat. Pellentesque vel arcu in mi semper vulputate. Integer volutpat imperdiet mi, ac gravida sem euismod ac. Nullam pulvinar ante eu turpis accumsan facilisis vitae tempus massa.</p>

            </div>
          </div>

          <div class="profile clearfix">
            <div class="span6">            
              <img src="/assets/achmad_hidayat.jpg" alt="">            
            </div>

            <div class="span6">
              <h3>Achmad Hidayat</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam cursus nisi ut metus venenatis ut cursus erat faucibus. In ac nisl in odio hendrerit vulputate. Quisque sed enim tortor, sed tincidunt ante. Praesent sodales neque congue tellus accumsan varius. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Fusce ut libero ut est sodales tristique. Sed ut sodales risus. Vivamus est felis, faucibus quis hendrerit quis, aliquet ac libero. Suspendisse potenti. Aliquam erat volutpat. Pellentesque vel arcu in mi semper vulputate. Integer volutpat imperdiet mi, ac gravida sem euismod ac. Nullam pulvinar ante eu turpis accumsan facilisis vitae tempus massa.</p>

            </div>
          </div>

          
        </div> 

      </div> 

      <div class="pagination">
        <ul>
          <li><a href="#">Prev</a></li>
          <li><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">Next</a></li>
        </ul>
      </div>     
      
    </div>
  </div>
</div>


<!-- FOOTER -->
<div class="row-fluid">

  <div class="container footer">

    <!-- Copyright and contact -->

    <div class="span4 address">

      ©2012 Metro Business Template by <a href="http://www.littlesparkvt.com">LittleSparkVT</a>
      <br>555 Silverado Trail
      <br>Burlington Vermont 05477

    </div>

    <!-- newsletter form -->

    <div class="span5 pull-right footer-newsletter">
      <h2>Newsletter</h2>
      <p>Subscribe to our newsletter and get the latest news!</p>
      <form action="mail.php" id="subscribe-form" method="post">
        <input type="text" name="email" id="email" placeholder="Your Email Address" class="input-text m-wrap m-ctrl">
        <button type="submit" class="m-btn blue">Sign Up</button>
      </form>
    </div>

  </div>
  
</div>


