<div class="container-fluid callout">
	<div class="row-fluid" style="margin-top:30px;">
		<ul class="nav nav-list span2 wrapper shadow">
			<li class="nav-header">Menu</li>
			<li>
				<%= link_to "Home", home_path %>
			</li>
			<li class="active">
				<%= link_to "Pretest", home_test_path %>
			</li>
			<li><a href="#">Edit Profile</a></li>
		</ul>

		<div class="span10" style="padding:10px 10px 10px 10px;">
			<div class="payment-section wrapper shadow">
				<div class="row-fluid section-title">				
					<div class="span9">
						<h1>Pretest</h1>					
					</div>					
				</div>


				<div class="row-fluid">				
					<div class="span9">
						<p>Untuk dapat mengikuti Kelas ATLS, calon peserta diwajibkan untuk menyelesaikan pretest dengan nilai yang diharapkan</p>
					</div>					
				</div>	

				<div class="row-fluid">				
					<div class="span12">
						<h3>Petunjuk sebelum memulai test</h3>
					</div>					
					<div class="span12">
						<ul>
							<li>Test terdiri dari 40 soal pilihan ganda</li>
							<li>Baca tiap pertanyaan dengan baik dan pilih satu jawaban terbaik</li>
							<li>Batas waktu pengerjaan test adalah 60 menit</li>
						</ul>
					</div>
				</div>	

				<div class="row-fluid">				
					<div class="span3 offset9">
						<button type="submit" id="start-test" class="m-btn blue">Mulai Test</button>
					</div>					
				</div>	
			</div>
		</div>
	</div>		
</div>



