<%= form_for @attendee, :url => {:controller => "admin/peserta", :action => "update_password"} do |f| %>
  <table>
    <tr>
      <td>
        <label for ="password">
          Password
        </label>
      </td>
      <td>
        <%=  f.password_field :password %>
      </td>
    <tr>

    <tr>
      <td>
        <label for ="confirm_password">
          Confirm Password
        </label>
      </td>
      <td>
        <%=  f.password_field :password_confirmation %>
      </td>
    <tr>

    <tr>      
      <td>
        <%= submit_tag 'Submit' %>
      </td>
    </tr>
  <% end %>