
<p>Hello <%= @resource.name %>!</p>
	<p>Kami telah membuat account anda untuk mengakses ATLS Indonesia online.</p>
	<p><%= link_to 'Click Link Ini', edit_password_url(@resource, :reset_password_token => @token) %> untuk menentukan password anda untuk mengakses ATLS Indonesia online</p>
	
	<div>
		<p>Untuk menyelesaikan training ATLS anda, anda harus menyelesaikan post test online.</p>
		<p>Setelah memasuki account anda, click <strong>Mulai PreTest</strong> untuk mengikuti post test online</p>
		<p>Anda akan dinyatakan lulus dan mendapatkan Sertifikat apabila anda telah menyelesaikan Post Test dengan minimum nilai yang telah ditentukan</p>
	</div>

<!-- 
	<p>Someone has requested a link to change your password, and you can do this through the link below.</p>
	<p><%= link_to 'Change my password', edit_password_url(@resource, :reset_password_token => @token) %></p>
	<p>If you didn't request this, please ignore this email.</p>
	<p>Your password won't change until you access the link above and create a new one.</p> -->


<p>Tertanda,</p>
<p>Tim ATLS Indonesia</p>




